@import '../../../globalStyles/globalStyles.scss';

.container-ShiftsCalendar {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px;
    color:#3D5488;

    .button-SC {
        margin: 20px;

        &:disabled{
            background: none;
            border: 1px solid rgba(128, 128, 128, 0.471);
            color: rgba(128, 128, 128, 0.471);;
        }
    }
}




