// Variables de estilos Globales
$color1:#FB612B;
$color2:#567EDC;
$color3:#3D5488;
$color4:#112557;
$color5:#0A1A43;

//  Tamaño Font titulos
$titleMain: 36px ;
$theRest: 32px ;
$others:25px ;


.button-standar-01 {
    font-size: 15pt;
    border-radius: 40px;
    padding: 5px 30px 7px 30px;
    background: #3d5488;
    border: 0;
    color: white;
    text-decoration: none;

    white-space: nowrap;

    &:hover {
        background: #354772;
    }
    &:active {
        background: #2a3859;
    }
}

.button-standar-02 {
    background: #fb612b;
    padding: 10px 60px 10px 60px;
    border: 0;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
    white-space: nowrap;
    &:hover {
        color: black;
    }
    &:active {
        background: #ff4b09;
    }
}

.button-standar-03 {
    font-size: 12pt;
    border-radius: 40px;
    padding: 8px 15px 8px 15px;
    background: none;
    color:#70747f ;
    border: 1px solid #70747f;
   
    text-decoration: none;
    white-space: nowrap;
    &:hover {
        color: black;
    }
    &:active {
        background: #c9c9ed;
    }
}

.button-standar-04 {
    font-size: 12pt;
    border-radius: 40px;
    padding: 10px 15px 10px 15px;
    border: 1px solid #fb612b;
    background: #fb612b;
    color:#ffffff ;
    
    white-space: nowrap;
    text-decoration: none;

    &:hover {
        color: black;
    }
    &:active {
        background: #ff4b09;

    }
}
.button-standar-05 {
    font-size: 12pt;
    border-radius: 40px;
    padding: 10px 15px 10px 15px;
    border: 1px solid #fb612b;
    background: none;
    color:#fb612b ;
    
    white-space: nowrap;
    text-decoration: none;

    &:hover {
        color: #ab2f02;
    }
    &:active {
        background: #fadace;

    }
}