@import '../../../globalStyles/globalStyles.scss';

.container-ResultElement{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color:#3D5488;
    
    button {
        margin: 10px 0px 10px 0px;
    }
    .data-user-RE {
        display: flex;
        flex-flow: row wrap;
        p {
            padding: 0;
            margin: 0;
        }
        h5 {
            padding: 0;
            margin: 0;
        }
        
        .img-porfile-RE {
            margin-right: 20px;
        }
        
    }

    .buttons-controls-RE {
        display: flex;
        flex-flow: column;
        .button-RE {
            width: 200px;
        }
    }
    
    .information-user-RE {
        display: flex;
        flex-flow: row wrap;

        p {
            margin: 0;
            padding-right: 20px;
        }
    }

    @media (max-width: 700px) {
        flex-flow: column nowrap; 
        align-items: center;
        .data-user-RE {
            flex-flow: column wrap;
            align-items: center;
        }
        .buttons-controls-RE {
            flex-flow: column;
            align-items: center;
        }
        .information-user-RE {
            flex-flow: column;
        }
    }
}